.article_box {
  height: 150px;
  width: 100vw;
}

.article_image {
  height: 150px;
  width: 150px;
  margin-top: 50px;
}

.article_content {
  height: 150px;
  width: 70vw;
  margin: 50px;
  float: right;
}

.article_image-box {
  margin-left: 100px;
  height: 250px;
  width: 250px;
}