* {
  font-family: 'Times New Roman', Times, serif;
}


.user_edit {
  height: 100%;
  width: 50%;
  margin-top: 50px;
  margin-left: 70px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  float: left;
}

h2 {
  font-size: 60px;
}

.circle {
  margin-top: 50px;
  float: left;
}

.content {
  height: 20vh;
  width: 30%;
}

.contents-post {
  padding-top: 5vh;
  padding-left: 5%;
  height: 100vh;
  width: 100%;
}

.contents-logo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: gray;
  width: 50%;
  color: white;
  margin: 5% 20%;
  font-size: 50px;
  text-align: center;
  border: black 2px solid;
  border-radius:10px;
}

.content-index {
  display: flex;
  flex-wrap: wrap;
}

.content__box {
  background-image: url('p0092_m.jpg');
  background-size: cover;
  box-shadow: 0 10px 10px #666666;
  margin: 5px;
  height: 50vh;
  width: 30%;
  position: relative;
  border-radius:10px;
}

.content__box-text {
  height: 100%;
  width: 45%;
  flex-wrap: wrap;
  margin: 5px 0 0 5px;

}
.name {
  padding-left: 5px;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-bottom: 1px solid red;
}

.content__box-image {
  border: solid 10px white;
  position: absolute;
  top: 5px;
  right: 5px;
  
}

