
.user_edit {
  height: 100%;
  width: 50%;
  margin-top: 50px;
  margin-left: 70px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  float: left;
}

h2 {
  font-size: 60px;
}

.circle {
  margin-top: 50px;
  float: left;
}